<div id="newItemModal">

    <form name="itemForm" class="item-form" novalidate>

        <label>Title</label>
        <div class="input-container">
            <input type="text" />
        </div>

        <label>Artist</label>
        <div class="input-container">
            <input type="text" />
        </div>

        <label>YouTube ID</label>
        <div class="input-container">
            <input type="text" />
        </div>

        <div id="errorMessage"></div>

        <div class="clearfix"></div>

        <button id="submitButton" type="button" class="btn" ng-click="">NEXT</button>

    </form>
</div>
