<div id="practiceContainer">

    <div id="infoView" ng-class="vm.infoOpen ? '' : 'collapsed'">
        <div class="fixedContent">
            <div class="col-sm-6">
                <practice-input class="inputGroup" label-text="'Title'" use-textarea="false" value="vm.title" save-callback="vm.saveTitle" required="true"></practice-input>
                <practice-input class="inputGroup" label-text="'Artist'" use-textarea="false" value="vm.artist" save-callback="vm.saveArtist"></practice-input>
            </div>
            <div class="col-sm-6">
                <div class="inputGroup"><label>Play Count</label><span>{{vm.playCount | number:0}}</span></div>
                <div class="inputGroup">
                    <label>Progress</label>
                    <span>{{vm.progress * 100 | number:0}}%</span>
                </div>
            </div>

            <practice-input class="inputGroup" label-text="'Notes'" use-textarea="true" value="vm.notes" save-callback="vm.saveNotes"></practice-input>
        </div>
    </div>
    <div class="btn infoViewBtn" ng-click="vm.infoOpen = !vm.infoOpen">
        <span class="glyphicon" ng-class="vm.infoOpen ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></span>
    </div>

    <div id="practiceContentContainer">
       <practice-content class="practiceContent tabPanel col-sm-7" data="vm.tab" save-callback="vm.saveTab"></practice-content>
        <practice-content class="practiceContent lyricPanel col-sm-5" data="vm.lyrics" save-callback="vm.saveLyrics"></practice-content>
    </div>

    <div media-bar media-id="vm.mediaId" end-session="vm.openSummary"></div>

</div>