#practiceContainer {
  height: 100%;
  
  .tabPanel {
    float: left;
    height: 100%;
    width: 60%;
    padding: 10px;
    margin: 0;

    font-size: 12px;

    border: none;
    background-color: white;
  }

  .lyricPanel {
    float: right;
    height: 100%;
    width: 40%;
    padding: 30px;
    margin: 0;

    border: none;
    border-radius: 0;
    background-color: #e5e5e5;
  }
}

#mediaBar {
  position: fixed;
  width: 100%;
  bottom: 0;

  background-color: #7fd999;

  .controlBtn {
    position: relative;
    display: block;
    margin-bottom: 10px;
    font-size: 50px;
    cursor: pointer;
  }

  #playPauseBtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}